{%extends 'base.html'%}
{% block content %}
{{bock.super}}
<div class="container">
    <div class="row">
        {% for bizdisplay in biz %}
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{bizdisplay.business_name|upper}}</h3>
                </div>
                <div class="panel-body">
                    {{bizdisplay.description_of_biz}}
                </div>
                <div class="panel-body">
                    {{bizdisplay.location}}
                </div>
                <div class="panel-body">
                    {{bizdisplay.email}}
                </div>
                <div class="panel-footer">{{bizdisplay.hood}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
