{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static%}
{% block content %}

<form style="width:400px;margin-left:500px;"action="." method="post" enctype="multipart/form-data">
        <div class="form-group">
         <label for="exampleFormControlInput1">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
        <label for="exampleFormControlInput1">Gender</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
        <label for="exampleFormControlInput1">location</label>
        <input type="email" class="form-control" id="exampleFormControlInput1">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          <label for="exampleFormControlInput1">Date</label>
          <input type="email" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Occupant kind </label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>police</option>
            <option>leader</option>
            <option>Founder</option>
            <option>Clan head</option>
            <option>Resident</option>
            <option>Doctor</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">house</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>wingA</option>
            <option>wingB</option>
            <option>wingC</option>
            <option>wingD</option>
            <option>wingE</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Post/Announcement</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <button class="btn btn-primary" type="submit">Post</button>
        </div>
      </form>
{%endblock%}
